{% load static %}
<main>
    <div id="carousel">
        <div class="demo-cont">
            <!-- slider start -->
            <div class="fnc-slider example-slider">
                <div class="fnc-slider__slides">
                    <!-- slide start -->
                    <div class="fnc-slide m--blend-green m--active-slide">
                        <div class="fnc-slide__inner">
                            <div class="fnc-slide__mask">
                                <div class="fnc-slide__mask-inner"></div>
                            </div>
                            <div class="fnc-slide__content">
                                <h2 class="fnc-slide__heading">
                                    <div class="fnc-slide__heading-line">
                                        <span>BLEACH</span>
                                    </div>
                                    <div class="fnc-slide__heading-line">
                                        <span>Thousand-Year Blood War</span>
                                    </div>
                                </h2>
                                <button type="button" class="fnc-slide__action-btn">
                                    Voir plus
                                    <span data-text="Voir plus">Voir</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slide end -->
                    <!-- slide start -->
                    <div class="fnc-slide m--blend-dark">
                        <div class="fnc-slide__inner">
                            <div class="fnc-slide__mask">
                                <div class="fnc-slide__mask-inner"></div>
                            </div>
                            <div class="fnc-slide__content">
                                <h2 class="fnc-slide__heading">
                                    <div class="fnc-slide__heading-line">
                                        <span>Blue</span>
                                    </div>
                                    <div class="fnc-slide__heading-line">
                                        <span>Lock</span>
                                    </div>
                                </h2>
                                <button type="button" class="fnc-slide__action-btn">
                                    Voir plus
                                    <span data-text="Voir plus">Voir</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slide end -->
                    <!-- slide start -->
                    <div class="fnc-slide m--blend-red">
                        <div class="fnc-slide__inner">
                            <div class="fnc-slide__mask">
                                <div class="fnc-slide__mask-inner"></div>
                            </div>
                            <div class="fnc-slide__content">
                                <h2 class="fnc-slide__heading">
                                    <div class="fnc-slide__heading-line">
                                        <span>Demon</span>
                                    </div>
                                    <div class="fnc-slide__heading-line">
                                        <span>Slayer</span>
                                    </div>
                                </h2>
                                <button type="button" class="fnc-slide__action-btn">
                                    Voir plus
                                    <span data-text="Voir plus">Voir</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slide end -->
                    <!-- slide start -->
                    <div class="fnc-slide m--blend-blue">
                        <div class="fnc-slide__inner">
                            <div class="fnc-slide__mask">
                                <div class="fnc-slide__mask-inner"></div>
                            </div>
                            <div class="fnc-slide__content">
                                <h2 class="fnc-slide__heading">
                                    <div class="fnc-slide__heading-line">
                                        <span>One</span>
                                    </div>
                                    <div class="fnc-slide__heading-line">
                                        <span>Peace</span>
                                    </div>
                                </h2>
                                <button type="button" class="fnc-slide__action-btn">
                                    Voir plus
                                    <span data-text="Voir plus">Voir</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- slide end -->
                </div>
                <nav class="fnc-nav">
                    <div class="fnc-nav__bgs">
                        <div class="fnc-nav__bg m--navbg-green m--active-nav-bg"></div>
                        <div class="fnc-nav__bg m--navbg-dark"></div>
                        <div class="fnc-nav__bg m--navbg-red"></div>
                        <div class="fnc-nav__bg m--navbg-blue"></div>
                    </div>
                    <div class="fnc-nav__controls hidden">
                        <button class="fnc-nav__control">
                            Black Widow
                            <span class="fnc-nav__control-progress"></span>
                        </button>
                        <button class="fnc-nav__control">
                            Captain America
                            <span class="fnc-nav__control-progress"></span>
                        </button>
                        <button class="fnc-nav__control">
                            Iron Man
                            <span class="fnc-nav__control-progress"></span>
                        </button>
                        <button class="fnc-nav__control">
                            Thor
                            <span class="fnc-nav__control-progress"></span>
                        </button>
                    </div>
                </nav>
            </div>
            <!-- slider end -->
            <div class="demo-cont__credits">
                <div class="demo-cont__credits-close"></div>
                <h2 class="demo-cont__credits-heading">Made by</h2>
                <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="demo-cont__credits-img" /> -->
                <h3 class="demo-cont__credits-name">Nikolay Talanov</h3>
                <a href="https://codepen.io/suez/" target="_blank" class="demo-cont__credits-link">My codepen</a>
                <a href="https://twitter.com/NikolayTalanov" target="_blank" class="demo-cont__credits-link">My twitter</a>
                <h2 class="demo-cont__credits-heading">Based on</h2>
                <a href="https://dribbble.com/shots/2375246-Fashion-Butique-slider-animation" target="_blank" class="demo-cont__credits-link">Concept by Kreativa Studio</a>
                <h4 class="demo-cont__credits-blend">Global Blend Mode</h4>
                <div class="colorful-switch">
                    <input type="checkbox" class="colorful-switch__checkbox js-activate-global-blending" id="colorful-switch-cb" />
                    <label class="colorful-switch__label" for="colorful-switch-cb">
              <span class="colorful-switch__bg"></span>
              <span class="colorful-switch__dot"></span>
              <span class="colorful-switch__on">
                <span class="colorful-switch__on__inner"></span>
              </span>
              <span class="colorful-switch__off"></span>
            </label>
                </div>
            </div>
        </div>
    </div>
    <div id="nav_secondaire" class="mx-auto max-w-6xl">
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-end list-none pt-10" id="default-tab">
                <li class="me-2" role="presentation">
                    <button class="inline-block btn-nav-second p-4 border-b-2 rounded-t-lg focus:outline-non actif" id="Tous-tab" type="button">Tous</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block btn-nav-second p-4 border-b-2 rounded-t-lg focus:outline-non hover:text-red-600 hover:border-red-300 dark:hover:text-red-300" id="Manga-tab" type="button">Manga</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block btn-nav-second p-4 border-b-2 rounded-t-lg focus:outline-non hover:text-red-600 hover:border-red-300 dark:hover:text-red-300" id="Anime-tab" type="button">Anime</button>
                </li>
                <li role="presentation">
                    <button class="inline-block btn-nav-second p-4 border-b-2 rounded-t-lg focus:outline-non hover:text-red-600 hover:border-red-300 dark:hover:text-red-300" id="L-Novel-tab" type="button">L-Novel</button>
                </li>
            </ul>
        </div>
        <div>
            <div class="tab-content p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="Tous" data-id="Tous-tab">
                <div class="slider-container">
                    <div class="flex justify-start my-5">
                        <div class="text-xl font-medium text_categorie">Tous</div>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_4_2024-03-12_12-36-51.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_5_2024-03-12_12-36-12.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_5_2024-03-12_12-35-08.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_10_2024-03-12_12-35-08.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_8_2024-03-12_12-36-12.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_9_2024-03-12_12-36-12.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_4_2024-03-12_12-35-59.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_5_2024-03-12_12-35-40.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_3_2024-03-12_12-34-59.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_3_2024-03-12_12-35-08.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_3_2024-03-12_12-36-37.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_2_2024-03-12_12-36-37.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_6_2024-03-12_12-36-12.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_5_2024-03-12_12-36-37.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/photo_4_2024-03-12_12-35-08.jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/photo_8_2024-03-12_12-35-08.jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="tab-content p-4 rounded-lg bg-gray-50 dark:bg-gray-800" style="display: none;" id="Manga" data-id="Manga-tab">
                <div class="slider-container">
                    <div class="flex justify-start my-5">
                        <div class="text-xl font-medium text_categorie">Manga</div>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="tab-content p-4 rounded-lg bg-gray-50 dark:bg-gray-800" style="display: none;" id="Anime" data-id="Anime-tab">
                <div class="slider-container">
                    <div class="flex justify-start my-5">
                        <div class="text-xl font-medium text_categorie">Anime</div>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="tab-content p-4 rounded-lg bg-gray-50 dark:bg-gray-800" style="display: none;" id="L-Novel" data-id="L-Novel-tab">
                <div class="slider-container">
                    <div class="flex justify-start my-5">
                        <div class="text-xl font-medium text_categorie">L-Novel</div>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image-container">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(1).jpg' %}" class="first-image" alt="Image par défaut">
                                    <img src="{% static 'manga/img/slider-nav/wallpaperflare.com_wallpaper(3).jpg' %}" alt="Image de substitution" class="second-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section></section>
    <section></section>
</main>